*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: #333;
}

.main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.traffic-light{
    
    background-color: black;
    width: 10rem;
    border-radius: 50px;
}
.red{
 background-color: red;
 width: 5rem;
 height: 5rem;
 text-align: center;
 border-radius: 50%;
    margin: 10px auto;
}
.yellow{
 background-color: yellow;
 width: 5rem;
 height: 5rem;
 text-align: center;
 border-radius: 50%;
 margin: 10px auto;
}
.green{
 background-color: green;
 width: 5rem;
 height: 5rem;
 text-align: center;
 border-radius: 50%;
 margin: 10px auto;
}